<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile UI</title>
    <script src="https://kit.fontawesome.com/1144a62fa6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/cssAREcss/mansi-profile.css">
</head>

<body>

    <!-- <div class="sidebar"></div> -->

    <div class="navbar">
        <div class="slidin-logo">Slidin'</div>
        <!-- <div class="slidin-logo"><img src="/homeimages/cubes.webp" alt=""></div> -->
        <div class="nav-container">
            <div class="nav-icons">
                <i class="fa-solid fa-house-chimney" style="color: #fff;"></i>
                <div class="search-container">
        <form action="/home
        " method="post" enctype="multipart/form-data" id="searchForm">
            <input type="text" id="search" placeholder="Search.." name="value" oninput="submitForm()" <% if (value) { %> value="<%= value %>" <% } %>>
        </form>
            <% if (results) { %>
        <div class="search-results">
            <% results.forEach(function(result) { %>
                <div class="search-result">
                    <a href="/profile/<%= result.username %>">
                        <img src="/uploads/<%= result.profilePic %>" alt="Profile Pic">
                        <span><%= result.username %></span>
                      </a>
                    </div>
                  <% }) %>
                </div>
              <% } %>
            </div>
        </div>
            <div class="nav-icons">
                <i class="fa-solid fa-circle-plus"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-comment"></i>
                <i class="fa-solid fa-circle-user"></i>
                <!-- <i class="fa-solid fa-caret-down"></i> -->
                <i class="fa-solid fa-gear"></i>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        function submitForm() {
            document.getElementById("searchForm").submit();
        }
        let backend = "<%= value %>"
        if (backend !== "false") {
            let input = document.getElementById("search")
            input.focus(); //sets focus to element  
            var val = input.value; //store the value of the element
            input.value = ''; //clear the value of the element
            input.value = val; //set that value back.  
        }
    </script>
</body>

</html>