<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile UI</title>
    <script src="https://kit.fontawesome.com/1144a62fa6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/cssAREcss/home.css">
</head>

<body>

    <!-- <div class="sidebar"></div> -->

<%- include('navbar.ejs') -%>

    <div>
        <ul>
            <% if (results) { %>
                <% results.forEach(function(result) { %>
                    <li>
                        <div class="card">
                            <a href="/profilepics/<%= result.username %>">
                                <div class="card_load">
                                    <img src="/uploads/<%= result.profilePic %>" alt="Profile Pic">
                                </div>
                                <div class="card_load_extreme_title">   
                                    <span><%= result.username %></span>
                                </div>
                    </a>
                    <div class="card_load_extreme_descripion">
                        <button>Add Friend</button>
                    </div>
                </div>
            </li>
            <% }) %>
            <% } %>            
        </ul>
    </div>
    
    <script type="text/javascript">
        function submitForm() {
            document.getElementById("searchForm").submit();
        }
        
        let backend = "<%= value %>"
        if (backend !== "false") {
            let input = document.getElementById("search")
            input.focus(); //sets focus to element  
            var val = input.value; //store the value of the element
            input.value = ''; //clear the value of the element
            input.value = val; //set that value back.  
        }

        function rotate() {
            let setting = document.getElementById("setting")
            setting.style.transform = "rotate(360deg)"
            setting.style.transition = "all 1s ease-in-out"
        }
    </script>
</body>
</html>